/NetBeansProjects/praktikum11/nbproject/private/
/NetBeansProjects/projekP11/nbproject/private/
/NetBeansProjects/projekP11/build/
/NetBeansProjects/projek2P11/nbproject/private/
/NetBeansProjects/projek2P11/build/
/NetBeansProjects/projek3P11/nbproject/private/
/NetBeansProjects/projek3P11/build/
/NetBeansProjects/projek4P11/nbproject/private/
/NetBeansProjects/Jarkom/target/
/MarketplaceProject/src/com.marketplace.app/target/
